@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --brand-color: #2196f3;
    --title: #ffffff;
    --black: #212121;
    --backgroud-grey: #2f303a;
    --button-white: #f5f4fa;
    --grey: #757575;
}

.title {
    font-family: "Raleway", sans-serif;
    color: var(--title);
    background-color: var(--backgroud-grey);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline;
    text-shadow: 2px, 2px, 4px, #212121;
    color: var(--brand-color);
    color: var(--black);
}
.logo-web {
    color: var(--brand-color);
}

.links {
    color: var(--black);
    cursor: pointer;
    display: inline;
    text-decoration: none;
    font-size: inherit;
    font-weight: 500;
}
.links:active,
.links:hover {
    color: var(--brand-color);
}
.links .links-contact {
    color: var(--grey);
    font-size: 14px;
    font-size: inherit;
    font-weight: 500;
    justify-content: right;
}
.links .links-contact:active,
.links-contact:hover {
    color: var(--brand-color);
}
a {
    text-decoration: none;
    color: var(--grey);
    .a:active,
    .a:hover {
        color: var(--brand-color);
    }
}
.main-button {
    color: var(--title);
    cursor: pointer;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
}

.lorem-ipsum {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
}
.lorem-ipsum-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey);
    display: flex;
}

.headings {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.john-doe {
    font-weight: 500;
}
.john-doe-job {
    font-weight: 400;
    font-style: normal;
    color: var(--grey);
}

.john-doe-description {
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-buttons {
    cursor: pointer;
    justify-content: center;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--button-white);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px 6px 22px;
    border: var(--button-white);
}
.portfolio-buttons:hover {
    background: var(--brand-color);
    color: var(--button-white);
}
.portfolio-buttons:focus {
    background: var(--brand-color);
    color: var(--title);
}
.portfolio-img-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--black);
    letter-spacing: 0.06em;
}

.portfolio-image-description {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.logo-web-footer {
    font-family: "Raleway", sans-serif;
    color: var(--title);
    font-weight: 700;
    font-size: 26px;
    background-color: var(--backgroud-grey);
}

.footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--title);
    background-color: #212121;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    cursor: pointer;
}
.footer-contact:active,
.footer-contact:hover {
    color: var(--brand-color);
}
